# Python
__pycache__/
*.pyc

# Virtual environment
venv/
anaconda_projects/db/*.db

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Environment files
.env

# Streamlit secrets
src/.streamlit/secrets.toml